.page-enter-active,
.page-leave-active {
  transition: opacity .2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity .2s
}

.layout-enter,
.layout-leave-active {
  opacity: 0
}

.home-enter-active,
.home-leave-active {
  transition: opacity .2s
}

.home-enter,
.home-leave-active {
  opacity: 0
}
