.page-enter-active,
.page-leave-active {
  transition: opacity .2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity .2s
}

.layout-enter,
.layout-leave-active {
  opacity: 0
}

.home-enter-active,
.home-leave-active {
  transition: opacity .2s
}

.home-enter,
.home-leave-active {
  opacity: 0
}

.container.ac__cont {
  max-width: 1400px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h2.title-heading__2 {
  font-weight: 700;
  line-height: 46px;
  font-size: 43px;
  color: #424242;
}

span.title-span__2 {
  font-size: 0.75rem !important;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.1666666667em !important;
  font-family: "Montserrat",
    sans-serif;
  text-transform: uppercase !important;
  color: #2a3b8b;
}

p {
  color: #717a85;
  font-family: 'Merriweather Sans',
    sans-serif;
  font-size: 1.125rem;
  line-height: 1.5555555556;
}

p.lead {
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal !important;
  font-family: 'Merriweather Sans',
    sans-serif;
  color: #424242;
  font-size: 1.2222222222em;
}

.elevation-ac {
  border-radius: 8px !important;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.15),
    0 8px 16px -8px rgba(0, 0, 0, 0.01), 0 -6px 16px -6px rgba(0, 0, 0, 0.03) !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-60 {
  padding: 0 60px !important;
}

.padding-100 {
  padding: 100px !important;
}

.page__section {
  padding: 100px 0;
}

.hr-style--1 {
  border-top: 1px solid #365abd;
  width: 80px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.v-btn {
  text-transform: none;
}

.v-list-item--dense .v-list-item__icon,
.v-list--dense .v-list-item .v-list-item__icon {
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 5px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.v-card__actions {
  align-items: center;
  display: flex;
  padding: 8px;
  position: absolute;
  bottom: 20px;
}

.img-fluid {
  min-width: 100%;
}

@media only screen and (max-width: 1100px) {
  p.lead {
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal !important;
    color: #424242;
    font-size: 18px;
  }

  h2.title-heading__2 {
    font-weight: 700;
    line-height: 46px !important;
    font-size: 34px !important;
    color: #424242;
  }

  .padding-60 {
    padding: 0 30px !important;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .intro__section {
    z-index: 200;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -300px !important;
  }

  .about__us--section {
    padding-top: 260px !important;
  }
}
h1.title-heading__2 {
  font-weight: 700;
  line-height: 46px;
  font-size: 43px;
  color: #424242;
}
h3.title-heading__3 {
  font-weight: 600;
  line-height: 26px;
  font-size: 23px;
  color: #424242;
  margin-bottom: 20px;
}

.v-main {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   border-bottom: 10px solid #f5f5f5;
}
